<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <%- include('blocks/header') -%>
        <main>
            <% if (pictures.length) { %>
                <% pictures.forEach(({ Name, author, price}) => { %>
                    <article>
                        <div class="picture">
                            <h1><%= Name %></h1>
                            <h2><%= author %></h2>
                            <h3>no photo</h3>
                            <h2><%= price %></h2>
                        </div>
                    </article>
                <% }) %>
            <% } %>
        </main>
    </body>
</html>