<header>
    <h1>Draw Online</h1>
    <a href="http://localhost:3000">home</a>
    <a href="http://localhost:3000/pictures">pictures</a>
    <a href="http://localhost:3000/add-picture">add picture</a>
</header>